@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic");

/**
 * site footer
 * --------------------------------------------------
 */
.site-footer {
  padding: 60px 0;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 768px) {
  .site-footer {
    padding: 90px 0;
  }
}

.site-footer-logo {
  margin: 0 auto 20px;
}

@media (min-width: 768px) {
  .site-footer-logo {
    margin-bottom: 30px;
  }
}

.site-footer-social-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.site-footer-social-list li {
  display: inline-block;
  margin: 5px 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .site-footer-social-list {
    margin: 5px 15px;
  }
}

.site-footer-copyright {
  opacity: 0.5;
  margin-top: 30px;
}